
html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5; background-color:black!important}html{overflow-x:hidden}
h1{font-size:36px;color:#AAC3DC;font-weight: bolder!important}
h2{font-size:30;color:white;font-weight: bolder!important}
h3{font-size:24px}
h4{font-size:20px}
h5{font-size:18px}
h6{font-size:16px}

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

.saf-serif{font-family:serif}.saf-sans-serif{font-family:sans-serif}.saf-cursive{font-family:cursive}.saf-monospace{font-family:monospace}
h1,h2,h3,h4,h5,h6,p{font-family:"Montserrat",sans-serif;font-weight:400;margin:10px 0}.saf-wide{letter-spacing:4px}
hr{border:0;border-top:1px solid #eee;margin:20px 0}
.saf-image{max-width:100%;height:auto}img{vertical-align:middle}a{color:inherit}

.box{  position: relative;
  width: 100%;
  margin: 0px;
  padding-top: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  box-sizing: border-box;
  text-align: center;
  vertical-align: middle;}

.textbox{
  font-size:16px;
  color:white;
  width: 100%;
  text-align: left;
  padding-top: 20px;
  padding-bottom: 20px;
}

.logo{
  padding-top: 20px;
  padding-right: 50px;
  width=200px;
}
.link{
  color:#AAC3DC
}

/* Colors */
.saf-amber,.saf-hover-amber:hover{color:#000!important;background-color:#ffc107!important}
.saf-aqua,.saf-hover-aqua:hover{color:#000!important;background-color:#00ffff!important}
.saf-blue{color:#2196F3!important}
.saf-light-blue,.-hover-light-blue:hover{color:#000!important;background-color:#87CEEB!important}
